/* Reusable Design */
@import "button.css";
@import "card.css";

/* Section Design */
@import "navbar.css";
@import "hero-banner.css";
@import "service.css";
@import "contact.css";
@import "thank-you.css";
@import "footer.css";
@import "background.css";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

body {
    background-image: url('./assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}